*{
    margin: 0;
    padding: 0;
}
.road {
    background: url(city.jpg) bottom no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
.blue_truck {
    background: url(blue-truck.png) no-repeat center center;
    height: 93px;
    width: 235px;
    position: relative;
    top: 73%;
    animation-name: blue_truck;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blue_truck {
    0% {
        left: -100%;
    }
    50% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

.blue_truck .blue_truck_rim_one,
.blue_truck .blue_truck_rim_two {
    background: url(truck-rim.png) no-repeat center center;
    background-size: cover;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 75%;
    animation-name: blue_truck_rim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.blue_truck .blue_truck_rim_one {
    left: 23%;
}

@keyframes blue_truck_rim {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blue_truck .blue_truck_rim_two {
    left: 75%;
}


/*Green Truck*/

.green_truck {
    background: url(green-truck.png) no-repeat center center;
    height: 93px;
    width: 235px;
    position: relative;
    top: 61%;
    animation-name: green_truck;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 3;
}

@keyframes green_truck {
    0% {
        right: -100%;
    }
    50% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}

.green_truck .green_truck_rim_one,
.green_truck .green_truck_rim_two {
    background: url(truck-rim.png) no-repeat center center;
    background-size: cover;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 75%;
    animation-name: green_truck_rim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.green_truck .green_truck_rim_one {
    left: 20%;
}

.green_truck .green_truck_rim_two {
    left: 71%;
}

@keyframes green_truck_rim {
    0% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Pickup truck */


.pickup_truck {
    background: url(pickup-truck.png) no-repeat center center;
    background-size: cover;
    height: 80px;
    width: 160px;
    position: relative;
    top: 48%;
    animation-name: pickup_truck;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 2;
}

@keyframes pickup_truck {
    0% {
        right: -100%;
    }
    50% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}

.pickup_truck .pickup_truck_rim_one,
.pickup_truck .pickup_truck_rim_two {
    background: url(pickup-rim.png) no-repeat center center;
    background-size: cover;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 56%;
    animation-name: pickup_truck_rim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pickup_truck .pickup_truck_rim_one {
    left: 12.6%;
}

.pickup_truck .pickup_truck_rim_two {
    left: 70.5%;
}

@keyframes pickup_truck_rim {
    0% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* suzuki */



.suzuki {
    background: url(suzuki.png) no-repeat center center;
    background-size: cover;
    height: 80px;
    width: 160px;
    position: relative;
    top: 65%;
    animation-name: suzuki;
    animation-duration: 27s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
}

@keyframes suzuki {
    0% {
        right: 100%;
    }
    50% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

.suzuki .suzuki_rim_one,
.suzuki .suzuki_rim_two {
    background: url(suzuki-rim.png) no-repeat center center;
    background-size: cover;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 71%;
    animation-name: suzuki_rim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.suzuki .suzuki_rim_one {
    left: 17%;
}

.suzuki .suzuki_rim_two {
    left: 70.8%;
}

@keyframes suzuki_rim {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

